.home-page {
	width: 100%;
	min-height: 100vh;
   background-color: #fff;
	padding: 50px 30px;
	text-align: center;
   font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-page main {
   position: relative;
   padding: 30px;

   .fa-circle-question {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2rem;
      color: var(--color-primary);
      cursor: pointer;
      transition: all .6s;
      
      &:hover {
         color: var(--color-primary-dark);
      }
   }

   img {
      width: 100%;
      max-width: 400px;
      user-select: none;
   }

	form {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .input, .btn {
         width: 100%;
         font-size: 1rem;
      }
	}

   a {
      margin-top: 15px;
      color: var(--color-primary);
      opacity: 0.7;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all .6s;
      
      &:hover {
         color: var(--color-primary-dark);
      }
   }
}
